extends layout

block title
  title #{title} #{game.gameName}

block content-title
  h1 #{game.gameName}

block content
  #game-meta
    h1.game-meta-name #{game.gameName}
    h4.game-meta-description #{game.gameDescription}
    h5.game-meta-timestamp Added #{game.createdPretty}
      if game.new
        span(class='label label-warning new-label') new
